.coxs-right-section {
  width: 470px;
  height: 427px;
  background-color: white;
  margin-left: 311px;
  margin-top: 51px;
  padding: 10px 17px;
}
.origin-input {
  width: 100%;
  height: 60px;
}
.destination-input {
  width: 100%;
  height: 60px;
}

.from-date {
  width: 47%;
}
.to-date {
  width: 47%;
}
.from-date-input {
  width: 100%;
  height: 60px;
}
.to-date-input {
  width: 100%;
  height: 60px;
}
.coxsBooking-btn {
  width: 100%;
  margin-top: 30px;
}
