.app-div {
  background-image: url("./assests/images/Rectangle\ 1.png"),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  max-width: 100%;
  height: 625px;
}
